<mat-toolbar class="header mat-elevation-z4">
<span>
    <a routerLink="/">
            <!-- <img class="logo" src="https://import.cdn.thinkific.com/220759/logo-200506-094136.png" alt="logo"> -->
            <!-- <img class="logo" src="assets/img/logo-200506-094136.png" alt="logo"> -->
            <img class="logo" src="assets/img/DELL.png" alt="logo">
    </a>
</span>
<span class="title-group">
    <a routerLink="{{ routeUrl }}">
        <i class="material-icons">
            {{ icon }}
        </i>
        {{ title }}
    </a>
</span>
</mat-toolbar>