form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    margin-right: 15px;
    /*  ou usar 
        margin: 20px 15px 0px 0px; 
    */
}

.example-margin {
    margin: 0 10px;
  }