table {
    width: 100%;
}

.edit{
    margin-right: 5px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.indeterminate_check_box > i {
    color: red;
}

.check_box > i {
    color: green;
}