<mat-toolbar class="footer">
    <span>
        Desenvolvido com 
        <i class="material-icons v-middle" appRed>
            favorite
        </i>
        por <strong>Ma<span class="red">ico</span>n Dut<span class="red">ra</span></strong>
    </span>
    </mat-toolbar>