<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [value]="product.price" name="price" disabled>
        </mat-form-field>
        <div>
            <mat-checkbox class="example-margin" [(ngModel)]="product.noGop" name="noGop" disabled>NoGOP</mat-checkbox>
        </div>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancelProduct()">
        Cancelar
    </button>
</mat-card>
