<button mat-raised-button (click)="navigateToProductCreate()" color="primary">
    Novo Produto
</button>

<app-product-read3></app-product-read3>


<!-- 

<app-product-read></app-product-read>    
<app-product-read2></app-product-read2> 

--> 